<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<module name="Checker">
    <module name = "LineLength">
        <property name ="max" value ="200"/>
        <property name="ignorePattern" value="^package.*|^import.*|a href |href|http://https://|ftp://"/>
    </module>
    <module name = "TreeWalker">
        <module name = "LeftCurly" />
        <module name = "NeedBraces" />
        <module name = "MethodParamPad"/>
        <module name = "WhitespaceAfter"/>
        <module name = "WhitespaceAround"/>
        <module name = "UnusedImports"/>
        <module name = "FinalParameters"/>
        <module name = "MissingSwitchDefault"/>
        <module name = "AvoidStarImport"/>
            <property name="excludes" value="" />
    </module>
    <module name="NoWhitespaceBefore">
        <property name ="token" value = "DOT"/>
        <property name ="allowLineBreaks" value = "true"/>
    </module>
    <module name="Indentation" />
    <module name = "RegexMultiline">
             <property name = "message" value = "Blank line at the end of block should be removed" />
             <property name = "format" value = "(?&lt;!\{\s{0,99}$)^$(?=^\s{0,99}\})"/>
             <property name = "fileExtensions" value = "groovy,java"/>
         </module>
</module>


